.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    background-color:darkslategray;
    margin:auto;
    color: white;
}

.indexFont {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px;
    text-align: center;
    margin-bottom: 0;
}

.roboto {
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
}

.head {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 75px;
}